<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="HI-TechConnection" connectionString="Data Source=LAPTOP-QJF69H5L\MSSQLSERVER2017; Initial Catalog=HI-TechProject; User Id=sa; Password=echo1055"/>
  </connectionStrings>
</configuration>